/* =========================
   LIGHT MODE
========================= */

body{

    background-color: #f8f9fa;
    color: black;
    transition: 0.4s;

}

/* =========================
   DARK MODE FULL PAGE
========================= */

.dark-mode{

    background-color: #121212 !important;
    color: white !important;

}

/* =========================
   NAVBAR
========================= */

.dark-mode .navbar{

    background-color: #000 !important;

}

/* =========================
   HERO SECTION
========================= */

.dark-mode .hero h1,
.dark-mode .hero p{

    color: white !important;

}

/* =========================
   CARDS & FORM
========================= */

.dark-mode .card,
.dark-mode .shadow,
.dark-mode .bg-white{

    background-color: #1e1e1e !important;
    color: white !important;

}

/* =========================
   CARD BODY
========================= */

.dark-mode .card-body{

    background-color: #1e1e1e !important;
    color: white !important;

}

/* =========================
   INPUTS
========================= */

.dark-mode .form-control,
.dark-mode .input-group-text,
.dark-mode select{

    background-color: #2b2b2b !important;
    color: white !important;
    border: 1px solid #555 !important;

}

/* =========================
   PLACEHOLDER
========================= */

.dark-mode ::placeholder{

    color: #ccc !important;

}

/* =========================
   TEXT COLORS
========================= */

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode b,
.dark-mode label,
.dark-mode span{

    color: white !important;

}

/* =========================
   BUTTONS
========================= */

.dark-mode .btn-light{

    background-color: #444 !important;
    color: white !important;
    border: none;

}

.dark-mode .btn-warning{

    color: black !important;

}

/* =========================
   SEARCH BOX
========================= */

.dark-mode .input-group{

    border: 1px solid #555;

}

/* =========================
   MAP
========================= */

.dark-mode #map{

    border: 2px solid #444;

}

/* =========================
   TREE LIST
========================= */

.dark-mode #treeList .card{

    background-color: #1e1e1e !important;
    color: white !important;

}

/* =========================
   ALERT BOX
========================= */

.dark-mode .alert{

    background-color: #333 !important;
    color: white !important;
    border: none;

}